* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  height: 55px;
  width: 100%;
  padding: 20px 0;
  color: #fff;
  background: #F55A5A;
  display: flex;
  justify-content: center;
  gap:5px;
}

.card-container {
  padding: 40px;
}

.image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.locion {
  width: 10px;
  height: 10px;
}

.location {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;
}

.link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;
}

h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #2B283A;
  margin-top: 0;
  margin-bottom: 10px;
}

h3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  color: #2B283A;
  margin: 0;
}

.side p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #2B283A;
}

.card {
  display: flex;
  gap: 20px;
  padding: 20px 0;
  max-width: 500px;
  margin: 0 auto;
  border-bottom: 1px solid #F5F5F5;
}

.card:last-of-type {
  border: none;
}

.side {
  padding: 20px 0;
}

.map {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
